


<div style="height: 90%" id="displayBody">
        {{if .}}
        <div class="scrollmenu">
        {{range .}}
        <div class="card cardDimen">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-img-top" ><p class="card-text infoTitle">{{.EntryName}}</p>
                </div>
                <div class="card-body">
                 <div>
                     <label class="infoText">Category: </label>
                    <p class="card-text infoText">{{.Category}}</p>
                </div> 
                <br>
                <div>
                        <label class="infoText">Contact: </label>
                       <p class="card-text infoText">{{.ContactNumber}}</p>
                   </div> 
                <br>
                <br>

                  <a href="{{.FacebookPage}}" class="btn btn-primary">Visit fb</a>
                </div>
              </div>
     
        {{end}}
    </div>

          {{else}}

          
            {{end}}
</div>


<!-- AdminRemarks   string `json:"AdminRemarks"`
Category       string `json:"Category"`
ContactEmail   string `json:"ContactEmail"`
ContactInfo    string `json:"ContactInfo"`
ContactNumber  string `json:"ContactNumber"`
ContactStatus  string `json:"ContactStatus"`
EatBookArticle string `json:"EatBookArticle"`

Distance       float32 `json:"Distance"`
EntryAddress   string  `json:"EntryAddress"`
EntryID        int     `json:"EntryID"`
EntryName      string  `json:"EntryName"`
FacebookPage   string  `json:"FacebookPage"`
Latitude       float32 `json:"Latitude"`
Longitude      float32 `json:"Longitude"`
MasterCategory string  `json:"MasterCategory"`
OpeningHours   string  `json:"OpeningHours"`
PostalCode     string  `json:"PostalCode"`
SubFilter      string  `json:"SubFilter"` -->
    
    
    